<div *ngIf="productItem.length !=0" class="">
     <div class="p-[3rem]" >
          <div >
               <table class="mt-[3rem] shadow-3xl border-2 border-violet-200 w-[100%]">
                    <thead class="text-white">
                         <tr >
                              <th class="py-3 bg-violet-500">Sr.No</th>
                              <th class="py-3 bg-violet-500">Name</th>
                              <th class="py-3 bg-violet-500">Image</th>
                              <th class="py-3 bg-violet-500">Description</th>
                              <th class="py-3 bg-violet-500">Price</th>
                              <th class="py-3 bg-violet-500">Quantity</th>
                              <th class="py-3 bg-violet-500">Total</th>
                              <th class="py-3 bg-violet-500">Action</th>
                         </tr>
                    </thead>
                    <tbody class="text-violet-700 text-center ">
                         <tr *ngFor="let item of productItem; let i = index" class=" cursor-pointer duration-300 pb-[3rem]">
                              <td class="py-3 px-6">{{i+1}}</td>
                              <td class="py-3 px-6">{{item.title}}</td>
                              <td class="py-3 px-6"><img src="{{item.images[0]}}" alt="{{ item.alt}}" class="w-[auto]"></td>
                              <td class="py-3 px-6">{{item.description}}</td>
                              <td class="py-3 px-6">{{item.price}}</td>
                              <td class="py-3 px-6">{{item.quantity}}</td>
                              <td class="py-3 px-6">{{item.total}}</td>
                              <td>
                                   <button (click) ="removeItem(item)" class="pr-[0.5rem] bg-red-600 hover:bg-red-700 px-3 py-2  rounded text-white font-bold text-base capitalize  ">Delete</button>
                              </td>
                         </tr>
                         <tr >
                              <td class="w-[10%]"><button (click)="emptyCartItem()" class="bg-red-600 hover:bg-red-700 px-3 py-2  rounded text-white font-bold text-base capitalize ">empty cart</button></td>
                              <td class="w-[10%]"><button routerLink="/list" class="bg-violet-400 hover:bg-violet-600 px-3 py-2  rounded text-white font-bold text-base capitalize ">shop more</button></td>
                              <td></td>
                              <td></td>
                              <td class="w-[20%]"><span class="bg-violet-600 p-2 rounded text-white font-bold text-base capitalize">Grand Total: Gel {{grandTotal}}</span></td>  
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
</div>

<!-- <div *ngIf="productItem.length === 0" class="bg-violet-100 flex flex-col md:flex-row justify-center items-center h-screen">
     <div class="mb-[30%] mr-[5%]">
          <h6 class=" res-title text-bolder font-bold text-base capitalize ">my cart </h6>
     </div>
     <div class="pb-8 md:pb-0 md:flex md:flex-col md:items-center md:justify-center">
          <img src="../../../assets/img/empty-cart.png" alt="empty-cart" class="w-full md:w-80">
          <div class="text-sm text-red-700 font-medium mt-4 md:ml-6 capitalize">
               <h6 class="pb-3 pl-4">your cart is empty</h6>
               <h6>Add some product to it now</h6>
               <button routerLink="/list" class="bg-violet-400 hover:bg-violet-500 px-3 py-2 mt-4 md:mt-8 ml-0 md:ml-6 rounded text-white font-bold text-base capitalize ">shop now</button>
          </div>
     </div>
</div> -->
